<div class="modal-header">
    <h3 class="modal-title" translate>configFolders_addEdit_title</h3>
</div>
<form novalidate class="form-horizontal" role="form" name="folderForm" ng-submit="folderForm.$valid && onSave()">
    <div class="modal-body">
        todo
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="submit" ng-disabled="folderForm.$invalid" translate>dialogOK</button>
        <button class="btn btn-warning" ng-click="cancel()" translate>dialogCancel</button>
    </div>
</form>
