<h2 class="header" translate>configUsers_viewTitle</h2>

<config-table data="getUsers" config="userListConfig"></config-table>

<div class="config-users-user-view" ui-view>
</div>

<script type="text/ng-template" id="config/addedit_user.html">
    <div class="modal-header">
        <h3 class="modal-title" translate>configUsers_addEditTitle</h3>
    </div>
    <form novalidate class="form-horizontal" role="form" name="userForm" ng-submit="userForm.$valid && onSave()">
    	<div class="modal-body">
			<div class="form-group" ng-class="{ 'has-error' : userForm.name.$invalid && !userForm.name.$pristine }">
				<label for="userName" class="control-label col-sm-2" translate>configUsers_addEdit_Name</label>
				<div class="col-sm-10">
					<input type="text" id="userName" name="name" class="form-control" ng-model="user.name" required>
				</div>
			</div>

			<div class="form-group" ng-if="showLanguages">
				<label for="userLanguage" class="control-label col-sm-2" translate>configUsers_addEdit_Language</label>
				<div class="col-sm-10">
					<select id="userLanguage" ng-model="user.language">
					</select>
				</div>
			</div>

			<div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
				<label for="userEmail" class="control-label col-sm-2" translate>configUsers_addEdit_Email</label>
				<div class="col-sm-10">
					<input type="email" id="userEmail" name="email" class="form-control" ng-model="user.email" required>
				</div>
			</div>

			<div class="form-group" ng-if="!edit">
				<label for="userPassword" class="control-label col-sm-2" translate>configUsers_addEdit_Password</label>
				<div class="col-sm-10">
					<input type="text" id="userPassword" name="password" class="form-control" ng-model="user.password" required>
					<a class="btn btn-default" ng-click="generatePassword()" translate>configUsers_addEdit_generatePassword</a>
				</div>
			</div>			
	    </div>
	    <div class="modal-footer">
	        <button class="btn btn-primary" type="submit" ng-disabled="userForm.$invalid" translate>dialogOK</button>
	        <button class="btn btn-warning" ng-click="cancel()" translate>dialogCancel</button>
	    </div>
    </form>
</script>