<ul>
	<li ng-repeat="c in comments.list">
		{{c.created_at}}
		{{c.user_id}}
	    
	    <div ng-if="comments.canEdit(c)">
	    	<span editable-text="c.comment" e-form="commentForm">
	    		{{ c.comment }}
	    	</span>
			<button class="btn btn-default" ng-click="commentForm.$show()" ng-hide="commentForm.$visible">
				EDIT
			</button>
	    	<a ng-click="comments.onRemoveComment(c)">REMOVE</a>
	    </div>

	    <div ng-if="!comments.canEdit(c)">
	    	{{ c.comment }}
	    </div>
	    
	</li>
</ul>

<input class="new_comment" ng-model="comments.newComment"></input><button class="add_comment" ng-click="comments.onAddComment()">ADD</button>