<h3 class="header">{{user.name}}</h3>

<dl class="dl-horizontal">
    <dt translate>configUser_Name</dt>
    <dd>
        {{user.name}}
    </dd>
    <dt translate>configUser_Email</dt>
    <dd>
        <code>{{user.email}}</code>
    </dd>
</dl>

<tabset class="config-tab">
    <tab ng-repeat="tab in details" heading="{{tab.title}}" ng-controller-controller="tab.controller" ng-click="onSelectDetails(tab)">
    	<div class="config-tab-details" ng-include="tab.template">
        </div>
    </tab>
</tabset>
