<div quickaction-container item-details-container>
    <div class="fileview" ui-view="files">
    </div>

    <div class="quickaction-container">
        <ul class="quickaction-list">
            <li class="quickaction-item" ng-repeat="item in quickactions.items" ng-click="onQuickAction(item, quickactions.parent)"><i class="fa {{item.icon}}"></i>
            </li>
        </ul>
    </div>
    <div class="itemdetails-content" ng-controller="ItemDetailsCtrl">
        <div class="itemdetails-content-container" ng-if="itemdetails.item">
            <h3 class="title">{{itemdetails.item.name}}</h3>
            <p class="itemdetails-description">
            	{{itemdetails.data.description}}
            </p>
            <p class="itemdetails-actions">
                <div class="btn-group" dropdown>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span translate>itemDetails_actions</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="ac in itemdetails.actions">
                            <a href="#" ng-click="onAction(ac, itemdetails.item)">
                                <span>{{ac.titleKey | translate}}</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </p>
            <p class="itemdetails-plugins" ng-if="itemdetails.details">
                <div ng-repeat="tab in itemdetails.details"></div>
                <tabset class="itemdetails-plugins-tabs">
                    <tab ng-repeat="tab in itemdetails.details" heading="{{tab.title}}" ng-controller-controller="tab.controller" ng-click="onSelectDetails(tab)">
                        <div class="itemdetails-plugins-tab" ng-include="tab.template">
                        </div>
                    </tab>
                </tabset>
            </p>
        </div>
    </div>
