<p>
    <dl class="dl-horizontal" ng-if="!item.is_file">
        <dt translate>itemInfo_path</dt>
        <dd>
            {{itemdetails.item.path}}
        </dd>
     </dl>
     <dl class="dl-horizontal" ng-if="item.is_file">
        <dt translate>itemInfo_path</dt>
        <dd>
            <span>{{itemdetails.item.path}}</span>
        </dd>
        <dt translate>itemInfo_size</dt>
        <dd>
            <span>{{itemdetails.data.size | formatter:'fileSize'}}</span>
        </dd>
        <dt translate>itemInfo_lastModified</dt>
        <dd>
            {{itemdetails.data.last_modified | formatter:'datetime'}}
        </dd>
    </dl>
</p>
<p>
    {{data.description}}
</p>
